.info_ticket .ant-table-wrapper .ant-table .ant-table-container .ant-table-content {
    overflow: hidden; } 
.info_ticket .ant-table-wrapper .ant-table .ant-table-container .ant-table-content .ant-table-thead tr .ant-table-cell {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  border-collapse: collapse; }
 .info_ticket .ant-table-wrapper .ant-table .ant-table-container .ant-table-content .ant-table-tbody .ant-table-row .ant-table-cell {
  color: #000;
  border: 1px solid #F0F0F0;
  border-collapse: collapse;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 82px; }
  @media (max-width: 767px) {
  .info_ticket .ant-table-wrapper .ant-table .ant-table-container .ant-table-content .ant-table-tbody .ant-table-row .ant-table-cell {
      max-width: 50px; } }
.form_profile{
    background: #fff;
    /* max-width: 480px; */
    margin: 0 auto 100px;
    padding: 45px;
    /* text-align: center; */
    box-shadow: 0 0 20px 0 rgba(0,0,0,12), 0 5px 5px 0 rgba(0,0,0,.24);
}
.profile{
    box-shadow: 0 0 20px 0 rgba(0,0,0,12), 0 5px 5px 0 rgba(0,0,0,.24);

}